<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        form {
            text-align: center;
            padding-top: 10rem;
        }

        h1{
            text-align: center;
        }
    </style>
</head>
<body>
    <h1>Enter your name </h1>
            <hr>
    <form action="/newpost" method="post">
            
        <div>
        <label for="username">Enter your Name</label>
        <input type="text">
    </div>
        <label for="password">Enter your password</label>
        <input type="password">
        <button type="submit">Submit</button>
    </form>
</body>
</html>